<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="D:\Movies\"/>
	</appSettings>
	<connectionStrings>
		<add name="Browser" connectionString="Data Source=.\Database\BrowserDB.db;Version=3;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>